@mixin p($top:50%, $left:50%) {
  position: absolute;
  top: $top;
  left: $left;
  transform: translate(-50%, -50%);
}


.section {
  width: 1920px;
  padding: 64px 64px 48px 64px;
  position: relative;
  &__title {
    width: 1856px;
    font-size: 192px;
    line-height: 100%;
    letter-spacing: -10px;
    color: #1E1E21;
    margin: 0 0 32px;
  }
  &__name {
    width: 1856px;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: -1px;
    opacity: .7;
    color: #1E1E21;
  }
  &__nav {
    position: absolute;
    top: 48px;
    right: 48px;
    background: #1E1E21;
    color: #F5F3EF;
    padding: 16px 24px;
    border-radius: 500px;
    cursor: pointer;
    nav {
      font-size: 24px;
      line-height: 100%;
      letter-spacing: -0.5px;
    }
  }
}
.home-images {
  width: 1920px;
  object-fit: cover;
  object-position: center center;
  margin: 0;
}

// スマホsp
@media screen and (max-width:400px) {
  .section {
    width: 400px;
    padding: 98px 13px 10px;
    &__title {
      width: 386px;
      font-size: 80px;
      line-height: 110%;
      letter-spacing: -4px;
      margin: 0 0 7px;
    }
    &__name {
      width: 100%;
      font-size: 22px;
      line-height: 120%;
      letter-spacing: -2px;
    }
    &__nav {
      top: 22px;
      right: 21px;
      padding: 13px 20px;
      nav {
        font-size: 20px;
        letter-spacing: -0.4px;
      }
    }
  }
  .home-images {
    width: 400px;
    height: 230px;
    display: block;
    margin: 0;
  }
}
.section2 {
  width: 1920px;
  display: flex;
  justify-content: space-between;
  padding: 64px;
  &__info {
    width: 71%;
    font-size: 96px;
    line-height: 110%;
    letter-spacing: -4px;
    margin: 0 64px 0 0;
    color: #1E1E21;
  }
  &__line {
    width: 2px;
    height: 424px;
    border: 1px solid #1E1E21;
  }
  &__about {
    position: relative;
    width: 29%;
    margin: 0 0 0 64px;
  }
  &__me {
    font-size: 32px;
    line-height: 120%;
    letter-spacing: -1px;
    text-align: left;
    color: #1E1E21;
  }
  &__badge {
    width: 176px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 0;
    bottom: 0;
  }
  &__badge__item {
    position: relative;
    width: 48px;
    height: 48px;
    background: #1E1E21;
    padding: 6px 12px;
    border-radius: 500px;
    color: #1E1E21;
  }
  img {
    @include p();
    width: 20px;
    height: 20px;
  }
}

// スマホSP
@media screen and (max-width:400px) {
  .section2 {
    width: 400px;
    height: 640px;
    display: block;
    padding: 40px 20px 0 20px;
    position: relative;
    &__info {
      width: 360px;
      height: 406px;
      font-size: 48px;
      line-height: 120%;
      letter-spacing: -1px;
      margin: 0 0 40px 0;
      position: absolute;
      bottom: 0;
      left: 20px;
    }
    &__line {
      display: none;
    }
    &__about {
      position: absolute;
      top: 40px;
      left: 20px;
      width: 67%;
      height: auto;
      font-size: 24px;
      line-height: 120%;
      margin: 0 0 40px 0;
    }
    &__me {
      font-size: 24px;
      margin: 0 0 19px 0;
    }
    &__badge {
      width: 100%;
      height: 66px;
      position: static;
      
    }
    &__badge__item {
      width: 66px;
      height: 66px;
      padding: 19px;
    }
    img {
      @include p();
      width: 28px;
      height: 28px;
    }
  }
}
.line {
  border-bottom: 2px solid #1E1E21;
  width: calc(1920 - 128) + px;
  margin: 0 64px;
}
// スマホSP
@media screen and (max-width:400px) {
  .line {
    width: calc(400 - 40) + px;
    margin: 0 20px;
  }
}




.container {
  width: 1920px;
  padding: 64px;
  display: flex;
  position: relative;
}
.container:before {
  content: "";
  border: 1px solid #1E1E21;
  position: absolute;
  top: 64px;
  left: 30%;
  height: calc(100% - 128px);
}
.contena {
  display: flex;
  justify-content: space-between;
  color: #1E1E21;
  width: 27%;
  height: 50px;
  margin: 0 65px 0 0;
  &__title {
    font-size: 32px;
    line-height: 120%;
    letter-spacing: -1px;
    margin: 0 16px 0 0;
  }
  &__ar-image {
    width: 50px;
    height: 50px;
    position: relative;
    margin: 0 0 0 16px;
    img {
      width: 25px;
      height: 25px;
      @include p();
    }
  }
}
.case {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 73%;
  margin: 0 0 0 65px;
  position: relative;
  &__section {
    width: calc(100% / 2 - 65px);
  }
  &__warp1:before {
    position: absolute;
    content: "";
    top: 0;
    left: 606px;
    border: 1px solid #1E1E21;
    height: calc(100% / 2 - 64px);
  }
  &__warp2:before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 606px;
    border: 1px solid #1E1E21;
    height: calc(100% / 2 - 64px);
  }
  &__section:nth-child(1) {
    margin: 0 65px 65px 0;
  }
  &__section:nth-child(2) {
    margin: 0 0 65px 65px;
  }
  &__section:nth-child(3) {
    margin: 65px 65px 0 0;
  }
  &__section:nth-child(4) {
    margin: 65px 0 0 65px;
  }
  &__section__title {
    font-size: 48px;
    line-height: 120%;
    letter-spacing: -1px;
    display: inline-block;
    margin: 0 0 8px;
  }
  &__section__text {
    font-size: 24px;
    line-height: 160%;
    font-weight: 500;
    margin: 8px 0 0;
    opacity: .7;
  }
}

// スマホSP
@media screen and (max-width:400px) {
  .container {
    width: 400px;
    padding: 48px 20px 0 20px;
    display: block;
  }
  .container:before {
    display: none;
  }
  .contena {
    width: 356px;
    height: 30px;
    display: flex;
    margin: 0 auto 44px auto;
    &__title {
      width: 80%;
      font-size: 24px;
      line-height: 120%;
      margin: 0 26px 0 0;
    }
    &__ar-image {
      width: 30px;
      height: 30px;
      img {
        width: 15px;
        height: 15px;
      }
    }
  }
  .case {
    display: block;
    width: 360px;
    margin: 0;
    .b {
      border-bottom: 2px solid #1E1E21;
    }
    &__section {
      width: 100%;
    }
    &__warp1:before {
      display: none;
    }
    &__warp2:before {
      display: none;
    }
    &__section:nth-child(1),
    &__section:nth-child(2),
    &__section:nth-child(3),
    &__section:nth-child(4) {
      margin: 0 0 31px;
    }
    &__section__title {
      font-size: 32px;
      margin: 0 0 5.5px;
    }
    &__section__text {
      font-size: 20px;
      margin: 5.5px 0 0 0;
      padding: 0 0 22px;
    }
  }
}

.case::before {
  content: "";
  border-bottom: 2px solid #1E1E21;
  position: absolute;
  top: 253px;
  left: 0;
  width: 100%;
}

@media screen and (max-width:400px) {
  .case::before {
    display: none;
  }  
}

.footer {
  width: 1920px;
  height: 750px;
  background: #1E1E21;
  color: #F5F3EF;
  text-align: center;
  padding: 157px 64px;
}
.form {
  width: 1824px;
  &__name {
    width: calc(1920px - 48px - 48px);
    margin: 0 auto;
    font-size: 192px;
    line-height: 100%;
    letter-spacing: -10px;
    margin: 0 0 32px;
  }
  &__button {
    background: #F5F3EF;
    border-radius: 500px;
    padding: 20px 30px;
    width: auto;
    display: inline-block;
    a {
      font-size: 20px;
      line-height: 110%;
      color: #1E1E21;
    }
  }
}
.pageList {
  display: flex;
  justify-content: space-between;
  width: 569px;
  height: 29px;
  align-items: center;
  margin: 140px  auto 0 auto;
  &__item {
    width: 111px;
    a {
      font-size: 24px;
      line-height: 120%;
      color: #F5F3EF;
    }
  }
}

@media screen and (max-width:400px) {
  .footer  {
    width: 400px;
    height: auto;
    padding: 53px 50px;
  }
  .form {
    width: 99%;
    &__name {
      width: 100%;
      font-size: 58px;
      letter-spacing: -3px;
      margin: 0 0 17px;
    }
    &__button {
      padding: 11px 10px;
      a {
        font-size: 11px;
      }
    }
  }
  .pageList {
    display: block;
    width: 92px;
    height: 182px;
    margin: 57px  auto 0 auto;
    &__item {
      width: 100%;
      height: calc(182px / 4);
      position: relative;
      a {
        font-size: 20px;
        @include p();
      }
    }
  }
}