main {
  width: 1920px;
  height: 1200px;
  display: flex;
  position: relative;
}
main .mi {
  display: block;
  width: 960px;
  height: 100%;
}
main .continer {
  width: 960px;
  padding: 64px;
}
main .continer .content {
  width: 100%;
  height: 310px;
  margin: 0 0 300px 0;
}
main .continer .content__title {
  display: inline-block;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: -1px;
  margin: 0 0 16px 0;
}
main .continer .content__text {
  font-size: 128px;
  line-height: 100%;
  letter-spacing: -4px;
}
main .continer .form {
  width: 100%;
  height: 462px;
}
main .continer .form__na, main .continer .form__em {
  height: 76px;
  margin: 0 0 16px;
  position: relative;
  background: #E4E1DA;
}
main .continer .form__me {
  height: 200px;
  margin: 0 0 16px;
  position: relative;
  background: #E4E1DA;
}
main .continer .form__text {
  font-size: 20px;
  line-height: 140%;
  position: absolute;
  top: 24px;
  left: 30px;
}
main .continer .form__btn {
  height: 62px;
  background: #1E1E21;
  border-radius: 500px;
  position: relative;
}
main .continer .form__send {
  font-size: 20px;
  line-height: 110%;
  color: #F5F3EF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main .continer .nav__links {
  position: absolute;
  left: -100%;
}
main .continer .nav__links.is-active {
  position: absolute;
  width: 1920px;
  height: 1200px;
  background: #1E1E21;
  padding: 128px;
  left: 0;
  top: 0;
  z-index: 100;
}
main .continer .nav__links.is-active a {
  display: flex;
  justify-content: center;
  font-size: 128px;
  letter-spacing: -4px;
  margin: 0 0 16px;
  color: #F5F3EF;
}
main .continer .nav__links.is-active a:first-child {
  margin: 192px 0 16px 0;
}
main .continer .nav__links.is-active .image {
  width: 70px;
  height: 70px;
  margin: 0 16px 0 0;
  position: relative;
}
main .continer .nav__links.is-active .image .ai {
  width: 35px;
  height: 35px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main .continer__nav {
  position: absolute;
  top: 48px;
  right: 48px;
  background: #1E1E21;
  color: #F5F3EF;
  padding: 16px 24px;
  border-radius: 500px;
  cursor: pointer;
}
main .continer__nav nav {
  font-size: 24px;
  line-height: 100%;
  letter-spacing: -0.5px;
}
main .continer__nav.is-active {
  display: none;
}
main .continer .link__close {
  position: absolute;
  top: 64px;
  right: 64px;
  cursor: pointer;
}
main .continer .link__close .c-text {
  background: #F5F3EF;
  padding: 16px 24px;
  color: #1E1E21;
  font-size: 24px;
  letter-spacing: -0.5px;
  border-radius: 50px;
}

@media screen and (max-width: 400px) {
  main {
    width: 400px;
    height: auto;
    display: block;
    position: relative;
  }
  main .mi {
    width: 100%;
    height: 500px;
  }
  main .continer {
    width: 100%;
    padding: 36px 20px 55px;
  }
  main .continer__nav {
    position: absolute;
    top: 22px;
    right: 21px;
    padding: 13px 20px;
  }
  main .continer__nav nav {
    font-size: 20px;
    letter-spacing: -0.4px;
  }
  main .continer .link__close {
    top: 22px;
    right: 21px;
  }
  main .continer .link__close .c-text {
    padding: 13px 19px;
    font-size: 19px;
    letter-spacing: -0.4px;
  }
  main .continer img {
    width: 400px;
    display: block;
  }
  main .continer .content {
    height: auto;
    margin: 0 0 87px;
  }
  main .continer .content__title {
    font-size: 24px;
  }
  main .continer .content__text {
    font-size: 80px;
    line-height: 110%;
  }
  main .continer .nav__links.is-active {
    width: 400px;
    height: 800px;
    padding: 0;
  }
  main .continer .nav__links.is-active a {
    display: flex;
    justify-content: center;
    font-size: 53px;
    letter-spacing: -1.6px;
    margin: 0 0 6px;
    color: #F5F3EF;
  }
  main .continer .nav__links.is-active a:first-child {
    margin: 284px 0 6px 0;
  }
  main .continer .nav__links.is-active .image {
    width: 29px;
    height: 29px;
    margin: 0 7px 0 0;
  }
  main .continer .nav__links.is-active .image .ai {
    width: 15px;
    height: 15px;
  }
  main .continer .form {
    width: 100%;
    height: auto;
  }
  main .continer .form__na, main .continer .form__em {
    height: 81px;
  }
  main .continer .form__me {
    height: 213px;
    margin: 0 0 18px;
  }
  main .continer .form__btn {
    height: 50px;
  }
  main .continer .form__send {
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.5px;
  }
}
.footer {
  width: 1920px;
  height: 750px;
  background: #1E1E21;
  color: #F5F3EF;
  text-align: center;
  padding: 157px 64px;
}

.form {
  width: 1824px;
}
.form__name {
  width: 1824px;
  margin: 0 auto;
  font-size: 192px;
  line-height: 100%;
  letter-spacing: -10px;
  margin: 0 0 32px;
}
.form__button {
  background: #F5F3EF;
  border-radius: 500px;
  padding: 20px 30px;
  width: auto;
  display: inline-block;
}
.form__button a {
  font-size: 20px;
  line-height: 110%;
  color: #1E1E21;
}

.pageList {
  display: flex;
  justify-content: space-between;
  width: 569px;
  height: 29px;
  align-items: center;
  margin: 140px auto 0 auto;
}
.pageList__item {
  width: 111px;
}
.pageList__item a {
  font-size: 24px;
  line-height: 120%;
  color: #F5F3EF;
}

@media screen and (max-width: 400px) {
  .footer {
    width: 400px;
    height: auto;
    padding: 53px 50px;
  }
  .form {
    width: 99%;
  }
  .form__name {
    width: 100%;
    font-size: 58px;
    letter-spacing: -3px;
    margin: 0 0 17px;
  }
  .form__button {
    padding: 11px 10px;
  }
  .form__button a {
    font-size: 11px;
  }
  .pageList {
    display: block;
    width: 92px;
    height: 182px;
    margin: 57px auto 0 auto;
  }
  .pageList__item {
    width: 100%;
    height: 45.5px;
    position: relative;
  }
  .pageList__item a {
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
/*# sourceMappingURL=contact.css.map */