.continer {
  width: 1920px;
  position: relative;
}
.continer .content {
  width: 100%;
  padding: 64px;
}
.continer .content__title {
  font-size: 192px;
  letter-spacing: -10px;
}
.continer .content__box {
  display: flex;
  justify-content: space-between;
}
.continer .content__box__text {
  width: calc(100% - 500px - 64px);
  font-size: 64px;
  line-height: 120%;
  letter-spacing: -2px;
}
.continer .content__box__table {
  width: 500px;
  margin: 0 0 0 64px;
}
.continer .content__box__table1 {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #1E1E21;
}
.continer .content__box__table1 p {
  font-size: 24px;
  line-height: 120%;
}
.continer .content__box__table2 {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #1E1E21;
}
.continer .content__box__table2 p {
  font-size: 24px;
  line-height: 120%;
}
.continer .content__box__table3 {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #1E1E21;
}
.continer .content__box__table3 p {
  font-size: 24px;
  line-height: 120%;
}
.continer .nav__links {
  position: absolute;
  left: -100%;
}
.continer .nav__links.is-active {
  position: absolute;
  width: 1920px;
  height: 1200px;
  background: #1E1E21;
  padding: 128px;
  left: 0;
  top: 0;
  z-index: 100;
}
.continer .nav__links.is-active a {
  display: flex;
  justify-content: center;
  font-size: 128px;
  letter-spacing: -4px;
  margin: 0 0 16px;
  color: #F5F3EF;
}
.continer .nav__links.is-active a:first-child {
  margin: 192px 0 16px 0;
}
.continer .nav__links.is-active .image {
  width: 70px;
  height: 70px;
  margin: 0 16px 0 0;
  position: relative;
}
.continer .nav__links.is-active .image .ai {
  width: 35px;
  height: 35px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.continer__nav {
  position: absolute;
  top: 48px;
  right: 48px;
  background: #1E1E21;
  color: #F5F3EF;
  padding: 16px 24px;
  border-radius: 500px;
  cursor: pointer;
}
.continer__nav nav {
  font-size: 24px;
  line-height: 100%;
  letter-spacing: -0.5px;
}
.continer__nav.is-active {
  display: none;
}
.continer .link__close {
  position: absolute;
  top: 64px;
  right: 64px;
  cursor: pointer;
}
.continer .link__close .c-text {
  background: #F5F3EF;
  padding: 16px 24px;
  color: #1E1E21;
  font-size: 24px;
  letter-spacing: -0.5px;
  border-radius: 50px;
}
.continer img {
  width: 1920px;
  display: block;
}

@media screen and (max-width: 400px) {
  .continer {
    width: 400px;
    padding: 55px 0 0;
  }
  .continer__nav {
    position: absolute;
    top: 22px;
    right: 21px;
    padding: 13px 20px;
  }
  .continer__nav nav {
    font-size: 20px;
    letter-spacing: -0.4px;
  }
  .continer .content {
    width: 360px;
    padding: 0;
    margin: 30px 24px;
  }
  .continer .content__title {
    font-size: 80px;
    line-height: 110%;
    letter-spacing: -4px;
  }
  .continer .content__box {
    display: block;
  }
  .continer .content__box__text {
    width: 360px;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: -0.7px;
    margin: 0 0 25px;
  }
  .continer .content__box__table {
    width: 360px;
    margin: 0 0 25px;
  }
  .continer .content__box__table1 {
    padding: 14px 0;
  }
  .continer .content__box__table1 p {
    font-size: 17px;
  }
  .continer .content__box__table2 {
    padding: 14px 0;
  }
  .continer .content__box__table2 p {
    font-size: 17px;
  }
  .continer .content__box__table3 {
    padding: 14px 0;
  }
  .continer .content__box__table3 p {
    font-size: 17px;
  }
  .continer .nav__links.is-active {
    width: 400px;
    height: 800px;
    padding: 0;
  }
  .continer .nav__links.is-active a {
    display: flex;
    justify-content: center;
    font-size: 53px;
    letter-spacing: -1.6px;
    margin: 0 0 6px;
    color: #F5F3EF;
  }
  .continer .nav__links.is-active a:first-child {
    margin: 284px 0 6px 0;
  }
  .continer .nav__links.is-active .image {
    width: 29px;
    height: 29px;
    margin: 0 7px 0 0;
  }
  .continer .nav__links.is-active .image .ai {
    width: 15px;
    height: 15px;
  }
  .continer__nav {
    position: absolute;
    top: 22px;
    right: 21px;
    padding: 13px 20px;
  }
  .continer__nav nav {
    font-size: 20px;
    letter-spacing: -0.4px;
  }
  .continer .link__close {
    top: 22px;
    right: 21px;
  }
  .continer .link__close .c-text {
    padding: 13px 19px;
    font-size: 19px;
    letter-spacing: -0.4px;
  }
  .continer img {
    width: 400px;
    display: block;
  }
}
.warp {
  width: 1920px;
  padding: 64px 64px 0 64px;
  display: flex;
}
.warp__box1 {
  width: 27%;
  margin: 0 64px 0 0;
}
.warp__box1 .performance {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
}
.warp__box1 .performance .title {
  width: calc(100% - 50px - 32px);
  font-size: 32px;
  line-height: 120%;
  letter-spacing: -1px;
  padding: 6px 0;
}
.warp__box1 .performance .image {
  width: 50px;
  height: 50px;
  position: relative;
}
.warp__box1 .performance .image img {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.warp__line {
  width: 1px;
  height: auto;
  border: 1px solid #1E1E21;
}
.warp__box2 {
  width: 66%;
  margin: 0 0 0 64px;
}
.warp__box2 section:nth-child(1) {
  padding: 0 0 64px;
  border-bottom: 2px solid #1E1E21;
}
.warp__box2 section:nth-child(1) .s__title {
  display: inline-block;
  font-size: 24px;
  margin: 0 0 16px;
  line-height: 120%;
}
.warp__box2 section:nth-child(1) .s__name {
  font-size: 48px;
  margin: 0 0 16px;
  line-height: 120%;
  letter-spacing: -1px;
}
.warp__box2 section:nth-child(1) .s__text {
  font-size: 20px;
  font-weight: 500;
  opacity: 0.7;
  line-height: 160%;
}
.warp__box2 section:nth-child(2) {
  padding: 64px 0 64px;
  border-bottom: 2px solid #1E1E21;
}
.warp__box2 section:nth-child(2) .s__title {
  display: inline-block;
  font-size: 24px;
  margin: 0 0 16px;
  line-height: 120%;
}
.warp__box2 section:nth-child(2) .s__name {
  font-size: 48px;
  margin: 0 0 16px;
  line-height: 120%;
  letter-spacing: -1px;
}
.warp__box2 section:nth-child(2) .s__text {
  font-size: 20px;
  font-weight: 500;
  opacity: 0.7;
  line-height: 160%;
}
.warp__box2 section:nth-child(3) {
  padding: 64px 0 0;
}
.warp__box2 section:nth-child(3) .s__title {
  display: inline-block;
  font-size: 24px;
  margin: 0 0 16px;
  line-height: 120%;
}
.warp__box2 section:nth-child(3) .s__name {
  font-size: 48px;
  margin: 0 0 16px;
  line-height: 120%;
  letter-spacing: -1px;
}
.warp__box2 section:nth-child(3) .s__text {
  font-size: 20px;
  font-weight: 500;
  opacity: 0.7;
  line-height: 160%;
}

@media screen and (max-width: 400px) {
  .warp {
    width: 400px;
    padding: 57px 19px 57px 20px;
    display: block;
  }
  .warp__box1 {
    width: 100%;
    height: 30px;
    margin: 0 0 71px;
  }
  .warp__box1 .performance {
    height: 30px;
  }
  .warp__box1 .performance .title {
    width: 293px;
    height: 29px;
    font-size: 24px;
    letter-spacing: 0;
  }
  .warp__box1 .performance .image {
    width: 30px;
    height: 30px;
  }
  .warp__box1 .performance .image img {
    width: 25px;
    height: 25px;
  }
  .warp__line {
    display: none;
  }
  .warp__box2 {
    width: 100%;
    margin: 0;
  }
  .warp__box2 section:nth-child(1) {
    padding: 0 0 27px;
    border-bottom: 2px solid #1E1E21;
  }
  .warp__box2 section:nth-child(1) .s__title {
    margin: 0 0 11px;
  }
  .warp__box2 section:nth-child(1) .s__name {
    font-size: 32px;
    margin: 0 0 11px;
  }
  .warp__box2 section:nth-child(1) .s__text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
  }
  .warp__box2 section:nth-child(2) {
    padding: 29px 0 27px;
    border-bottom: 2px solid #1E1E21;
  }
  .warp__box2 section:nth-child(2) .s__title {
    margin: 0 0 11px;
  }
  .warp__box2 section:nth-child(2) .s__name {
    font-size: 32px;
    margin: 0 0 11px;
  }
  .warp__box2 section:nth-child(2) .s__text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
  }
  .warp__box2 section:nth-child(3) {
    padding: 29px 0 27px;
    border-bottom: 2px solid #1E1E21;
  }
  .warp__box2 section:nth-child(3) .s__title {
    margin: 0 0 11px;
  }
  .warp__box2 section:nth-child(3) .s__name {
    font-size: 32px;
    margin: 0 0 11px;
  }
  .warp__box2 section:nth-child(3) .s__text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
  }
}
.gallery {
  width: 1920px;
}
.gallery__title {
  height: 150px;
  color: #1E1E21;
  padding: 64px 64px 48px 64px;
}
.gallery__text {
  font-size: 32px;
  line-height: 120%;
  letter-spacing: -1px;
}
.gallery .image img {
  width: 100%;
  display: block;
}

@media screen and (max-width: 400px) {
  .gallery {
    width: 400px;
  }
  .gallery__title {
    height: auto;
    color: #1E1E21;
    padding: 0 20px 20px;
  }
  .gallery__text {
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0px;
  }
  .gallery .image img {
    width: 100%;
    display: block;
  }
}
.footer {
  width: 1920px;
  height: auto;
  background: #1E1E21;
  color: #F5F3EF;
  text-align: center;
  padding: 157px 64px;
}

.form {
  width: 1824px;
}
.form__name {
  width: 1824px;
  margin: 0 auto;
  font-size: 192px;
  line-height: 100%;
  letter-spacing: -10px;
  margin: 0 0 32px;
}
.form__button {
  background: #F5F3EF;
  border-radius: 500px;
  padding: 20px 30px;
  width: auto;
  display: inline-block;
}
.form__button a {
  font-size: 20px;
  line-height: 110%;
  color: #1E1E21;
}

.pageList {
  display: flex;
  justify-content: space-between;
  width: 569px;
  height: 29px;
  align-items: center;
  margin: 140px auto 0 auto;
}
.pageList__item {
  width: 111px;
}
.pageList__item a {
  font-size: 24px;
  line-height: 120%;
  color: #F5F3EF;
}

@media screen and (max-width: 400px) {
  .footer {
    width: 400px;
    height: auto;
    padding: 53px 50px;
  }
  .form {
    width: 99%;
  }
  .form__name {
    width: 100%;
    font-size: 58px;
    letter-spacing: -3px;
    margin: 0 0 17px;
  }
  .form__button {
    padding: 11px 10px;
  }
  .form__button a {
    font-size: 11px;
  }
  .pageList {
    display: block;
    width: 92px;
    height: 182px;
    margin: 57px auto 0 auto;
  }
  .pageList__item {
    width: 100%;
    height: 45.5px;
    position: relative;
  }
  .pageList__item a {
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
/*# sourceMappingURL=worksingle.css.map */