.continer {
  width: 1920px;
  position: relative;
}
.continer .content {
  width: 100%;
  padding: 64px;
}
.continer .content__title {
  font-size: 192px;
  letter-spacing: -10px;
}
.continer .content__box {
  display: flex;
  justify-content: space-between;
}
.continer .content__box__text {
  width: calc(100% - 500px - 64px);
  font-size: 64px;
  line-height: 120%;
  letter-spacing: -2px;
}
.continer .content__box__table {
  width: 500px;
  margin: 0 0 0 64px;
}
.continer .content__box__table1 {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #1E1E21;
}
.continer .content__box__table1 p {
  font-size: 24px;
  line-height: 120%;
}
.continer .content__box__table2 {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #1E1E21;
  width: 100%;
  padding: 20px 0;
}
.continer .content__box__table2 p {
  font-size: 24px;
  line-height: 120%;
}
.continer .content__box__table3 {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #1E1E21;
  width: 100%;
  padding: 20px 0;
}
.continer .content__box__table3 p {
  font-size: 24px;
  line-height: 120%;
}
.continer__nav {
  position: absolute;
  top: 48px;
  right: 48px;
  background: #1E1E21;
  color: #F5F3EF;
  padding: 16px 24px;
  border-radius: 500px;
  cursor: pointer;
}
.continer__nav nav {
  font-size: 24px;
  line-height: 100%;
  letter-spacing: -0.5px;
}
.continer img {
  width: 1920px;
  display: block;
}

.warp {
  width: 1920px;
  padding: 64px 64px 0 64px;
  display: flex;
}
.warp__box1 {
  width: 27%;
  margin: 0 64px 0 0;
}
.warp__box1 .performance {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
}
.warp__box1 .performance .title {
  width: calc(100% - 50px - 32px);
  font-size: 32px;
  line-height: 120%;
  letter-spacing: -1px;
  padding: 6px 0;
}
.warp__box1 .performance .image {
  width: 50px;
  height: 50px;
  position: relative;
}
.warp__box1 .performance .image img {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.warp__line {
  width: 1px;
  height: auto;
  border: 1px solid #1E1E21;
}
.warp__box2 {
  width: 66%;
  margin: 0 0 0 64px;
}
.warp__box2 section:nth-child(1) {
  padding: 0 0 64px;
  border-bottom: 2px solid #1E1E21;
}
.warp__box2 section:nth-child(1) .s__title {
  display: inline-block;
  font-size: 24px;
  margin: 0 0 16px;
  line-height: 120%;
}
.warp__box2 section:nth-child(1) .s__name {
  font-size: 48px;
  margin: 0 0 16px;
  line-height: 120%;
  letter-spacing: -1px;
}
.warp__box2 section:nth-child(1) .s__text {
  font-size: 20px;
  font-weight: 500;
  opacity: 0.7;
  line-height: 160%;
}
.warp__box2 section:nth-child(2) {
  padding: 64px 0 64px;
  border-bottom: 2px solid #1E1E21;
}
.warp__box2 section:nth-child(2) .s__title {
  display: inline-block;
  font-size: 24px;
  margin: 0 0 16px;
  line-height: 120%;
}
.warp__box2 section:nth-child(2) .s__name {
  font-size: 48px;
  margin: 0 0 16px;
  line-height: 120%;
  letter-spacing: -1px;
}
.warp__box2 section:nth-child(2) .s__text {
  font-size: 20px;
  font-weight: 500;
  opacity: 0.7;
  line-height: 160%;
}
.warp__box2 section:nth-child(3) {
  padding: 64px 0 0;
}
.warp__box2 section:nth-child(3) .s__title {
  display: inline-block;
  font-size: 24px;
  margin: 0 0 16px;
  line-height: 120%;
}
.warp__box2 section:nth-child(3) .s__name {
  font-size: 48px;
  margin: 0 0 16px;
  line-height: 120%;
  letter-spacing: -1px;
}
.warp__box2 section:nth-child(3) .s__text {
  font-size: 20px;
  font-weight: 500;
  opacity: 0.7;
  line-height: 160%;
}

.gallery {
  width: 1920px;
}
.gallery__title {
  height: 150px;
  color: #1E1E21;
  padding: 64px 64px 48px 64px;
}
.gallery__text {
  font-size: 32px;
  line-height: 120%;
  letter-spacing: -1px;
}
.gallery .image img {
  width: 100%;
  display: block;
}

.footer {
  width: 1920px;
  height: 750px;
  background: #1E1E21;
  color: #F5F3EF;
  text-align: center;
  padding: 157px 64px;
}

.form {
  width: 1824px;
}
.form__name {
  width: 1824px;
  margin: 0 auto;
  font-size: 192px;
  line-height: 100%;
  letter-spacing: -10px;
  margin: 0 0 32px;
}
.form__button {
  background: #F5F3EF;
  border-radius: 500px;
  padding: 20px 30px;
  width: auto;
  display: inline-block;
}
.form__button a {
  font-size: 20px;
  line-height: 110%;
  color: #1E1E21;
}

.pageList {
  display: flex;
  justify-content: space-between;
  width: 569px;
  height: 29px;
  align-items: center;
  margin: 140px auto 0 auto;
}
.pageList__item {
  width: 111px;
}
.pageList__item a {
  font-size: 24px;
  line-height: 120%;
  color: #F5F3EF;
}

@media screen and (max-width: 400px) {
  .footer {
    width: 400px;
    height: auto;
    padding: 53px 50px;
  }
  .form {
    width: 99%;
  }
  .form__name {
    width: 100%;
    font-size: 58px;
    letter-spacing: -3px;
    margin: 0 0 17px;
  }
  .form__button {
    padding: 11px 10px;
  }
  .form__button a {
    font-size: 11px;
  }
  .pageList {
    display: block;
    width: 92px;
    height: 182px;
    margin: 57px auto 0 auto;
  }
  .pageList__item {
    width: 100%;
    height: 45.5px;
    position: relative;
  }
  .pageList__item a {
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
/*# sourceMappingURL=worksingle.css.map */